@import "./variables.scss";

section#about.post-wrapper {
  padding-top: 80px;
}

section#about{
  p{
    font-size: 18px;
  }
  .page-banner {
    max-height: 60vh;
  }
  .page-banner-bg {
    width: 100%;
    object-fit: cover;
    max-height: 60vh;
  }
  .page-title {
    position: absolute;
    bottom: 0;
  }
  .page-banner-bg{
    //-webkit-animation: filter-animation 5s infinite;
    -webkit-filter: brightness(50%);
    filter: brightness(50%) grayscale(50%);
    transition: all 1s;
    position: relative;
    &:hover{
      -webkit-filter: brightness(100%);
      filter: brightness(100%);
    }
    &::after {
      position: absolute;
      display: block;
      width: 300px;
      height: 300px;
      background-color: black;
      content: '';
    }
  }

  @-webkit-keyframes filter-animation {
    0% {
      -webkit-filter: hue-rotate(0);
    }
    
    50% {
      -webkit-filter: hue-rotate(90deg);
    }
    
    100% {
      -webkit-filter: hue-rotate(0);
    }
  }
}
