@import partials/general
@import partials/navbar
@import partials/banner
@import partials/slide-in
@import partials/scanlines
@import partials/flip
@import partials/post

/* Home Page
.home-container
  height: 100vh
  padding: 0 !important

.home-logo-container
  height: 100%
  width: 100%

#home-logo, #game-logo
  font-family: 'Exo 2', sans-serif
  color: $light-grey
  text-align: center

h2.link a
  color: $white
  font-family: 'Exo 2', sans-serif
  font-size: 1.5rem

/** Main Body Styles **/

section:nth-child(odd)
  background-color: #707070 !important

/** End Main Body Styles **/


/** Othello Game Styles **/
#othelloGrid
  border: 10px outset rgb(0, 0, 0)
  border-collapse: collapse
  font-size: 11px
  margin: 0px auto

#othelloGrid th
  width: 60px
  height: 60px
  font-size: 12px
  color: red
  border: 2px solid black

#othelloGrid td
  width: 60px
  height: 60px
  border: 2px solid black
  cursor: pointer

#othelloGrid td.green
  background-color: green

#othelloGrid td.white
  background-color: $white

#othelloGrid td.black
  background-color: $black

/** 404 page styles **/
#four-oh-four
  height: 100vh
  width: 100vw

/** Contact page styles **/
section#contact
  height: 100%
  width: 100%

section#contact .contact-email a
  color: $white
  transition: $base-transition

section#contact .contact-email a:hover
  color: $light-grey
